@model AutomobileEnterprise.Models.Cars.FireEngine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FireEngine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TankVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteOffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteOffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
