@model AutomobileEnterprise.Controllers.RequestsController.Req2vm
@using PagedList.Mvc
@{
    ViewBag.Title = "Request 2";
}

<h4 style="color:black">Get list of drivers</h4>


<form method="get">
    <div class="form-inline">
        @Html.Label("Car:", new { @class = "control-label col-md-2"})
        <div style = "position:fixed; left:20% ";class="col-md-10">
            @Html.DropDownListFor(model => model.CarId, Model.Cars as SelectList,
                htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-10">
            <input type="submit" value="Show" class="btn btn-default" />
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drivers.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivers.First().SecondName)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model.Drivers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
        </tr>
    }
</table>

Page @(Model.Drivers.PageCount < Model.Drivers.PageNumber ? 0 : Model.Drivers.PageNumber) of @Model.Drivers.PageCount
@Html.PagedListPager(Model.Drivers, PageNum =>Url.Action("Request2",
    new
    {
        carId = Model.CarId,
        pageNum = PageNum,
    }))
